#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body,
html {
  height: 100%;
}

body {
  background: #000000;
  margin: 0 auto;
}

.container {
  height: 24em;
  width: 18em;
  /* border: solid 1px #d1cbcb; */
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.login,
.signup {
  border-radius: 0.4em;
  border: solid 1px #bfbfbf;
  background: #9b9b9b14;
  backdrop-filter: blur(13px);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  height: 80%;
  width: 100%;
}

.signup {
  margin-top: 10px;
  height: 3em;
  width: 100%;
}

.circles {
  height: 153px;
  width: 153px;
  border-radius: 50%;
  position: absolute;
}

.title,
.title2 {
  margin-top: 0.9em;
}

.title {
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  font-family: monospace;

  /* margin-top: 0.4em */
}

.title2 {
  color: #ffffff;
  font-size: 14px;
  font-family: monospace;
}

.inputs input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  color: #ffffff;
  margin: 0 0.7em;
}

.inputs {
  height: 2em;
  width: 100%;
  border: solid 1px #bfbfbf;
  border-radius: 0.4em;
  display: flex;
  align-items: center;

}

.btn,
.inputs {
  margin-top: 1em;
}

.btn {
  width: 100%;
  background: linear-gradient(94deg, #ff00a5, #ff135f, #ff0023, #eb8900, #ffd600);
  color: white;
  border: none;
}

.formdata {
  margin: 0.5em;
}

/* .login div {
  width: 100%;
} */


.footer {
  align-items: center;
  font-size: 1.3em;
  font-family: monospace;
  color: #ffffff;
  padding: 12px 0px;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
}

@media (max-width: 700px) {
  .circles {
    height: 8em;
    width: 8em;
  }

  .container {
    width: 100%;
  }

}